


<div  class="todo {{ (todo.completed ? 'done' : '') }}">

    <div class="id"></div>
        <div class="content"  (click)="toggleDone(todo.id)">{{ todo.content }}</div>
        <input type="text" name ="EditTodo" placeholder="Edit todo..." class="todo-input" [(ngModel)]="EditTodo" *ngIf="showEdit"/>
        <button class="btn btn-danger" (click)="deleteTodo(todo.id)">Remove</button>
        <button type="button" class="btn btn-warning" data-bs-toggle="button" aria-pressed="true" (click)="editTodo(todo.id)">Edit</button>
    </div>
